div{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.basic-operators{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 400px;
width: 100px;
gap: 3px   ;
/* background-color: black; */
}

.basic-operators button{
    background-color: orange;
    font-size: 50px;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    border: solid grey 2px;
    
    /* flex: auto; */
}